:root {
  --color-primary-blue: hsl(223, 87%, 63%);
  --color-secondary-pale-blue: hsl(223, 100%, 88%);
  --color-secondary-light-red: hsl(354, 100%, 66%);
  --color-neutral-gray: hsl(0, 0%, 59%);
  --color-neutral-dark-blue: hsl(209, 33%, 12%);
  --color-custom-input: hsla(0, 0%, 59%, 0.336); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 125%; }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 380px) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 380px) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif; }

.logo-box {
  margin-top: .5rem;
  margin-bottom: .5rem; }

.heading {
  display: flex;
  flex-direction: column;
  padding-top: 1rem; }
  .heading__primary {
    font-weight: 200;
    font-size: 1.8rem;
    color: var(--color-neutral-gray); }
    .heading__primary span {
      font-weight: 700;
      color: #000; }
  .heading__secondary {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: .8rem;
    font-weight: 300; }
  .heading__cta {
    width: 130%;
    align-self: center;
    position: relative;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 600px) {
      .heading__cta {
        display: flex;
        flex-direction: column;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .heading__cta {
        display: flex;
        flex-direction: column;
        width: 100%; } }
    @media only screen and (max-width: 380px) {
      .heading__cta {
        display: flex;
        flex-direction: column;
        width: 100%; } }
    .heading__cta-input {
      outline: none;
      padding: .7rem 1.2rem;
      width: 67%;
      border: 1px solid var(--color-custom-input);
      border-radius: 10rem;
      font-weight: 100; }
      @media only screen and (max-width: 600px) {
        .heading__cta-input {
          width: 100%; } }
      @media only screen and (max-width: 480px) {
        .heading__cta-input {
          width: 100%; } }
      @media only screen and (max-width: 380px) {
        .heading__cta-input {
          width: 100%; } }
      .heading__cta-input::placeholder {
        color: var(--color-neutral-gray); }
      .heading__cta-input:invalid {
        border: 1px solid var(--color-secondary-light-red); }
      .heading__cta-input:valid ~ .required {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-0.5rem); }
    .heading__cta-button {
      width: 30%;
      margin-left: .3rem;
      padding: .7rem 1.2rem;
      border-radius: 10rem;
      outline: none;
      border: none;
      color: #fff;
      background-color: var(--color-primary-blue);
      cursor: pointer;
      box-shadow: 0 5px 15px 0px #96969678;
      transition: all .3s linear; }
      @media only screen and (max-width: 600px) {
        .heading__cta-button {
          margin-top: .8rem;
          width: 100%; } }
      @media only screen and (max-width: 480px) {
        .heading__cta-button {
          margin-top: .8rem;
          width: 100%; } }
      @media only screen and (max-width: 380px) {
        .heading__cta-button {
          margin-top: .8rem;
          width: 100%; } }
      .heading__cta-button:hover {
        background-color: var(--color-secondary-pale-blue); }
      .heading__cta-button:active {
        transform: scale(0.985) translateY(1px); }

.cover {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center; }
  .cover-image {
    width: 55%;
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 1000px) {
      .cover-image {
        width: 75%; } }
    @media only screen and (max-width: 600px) {
      .cover-image {
        width: 75%; } }
    @media only screen and (max-width: 480px) {
      .cover-image {
        width: 75%; } }
    @media only screen and (max-width: 380px) {
      .cover-image {
        width: 75%; } }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; }
  .footer__icons {
    display: flex;
    width: 42%;
    justify-content: space-evenly;
    margin-bottom: .8rem; }
    .footer__icons-item {
      width: .8rem;
      height: .8rem;
      border: 1px solid rgba(128, 128, 128, 0.288);
      padding: 5px;
      border-radius: 50%;
      color: var(--color-primary-blue); }
      .footer__icons-item:hover {
        cursor: pointer;
        background-color: var(--color-primary-blue);
        color: #fff;
        box-shadow: 0px 1px 10px 0px #0000006e; }
  .footer__info {
    color: var(--color-neutral-gray);
    font-size: .6rem; }
  .footer__credits {
    line-height: 1rem; }
    .footer__credits-attr {
      font-size: .45rem;
      color: var(--color-secondary-pale-blue); }
      .footer__credits-attr a {
        font-weight: 300;
        text-decoration: none;
        color: var(--color-neutral-dark-blue); }

.required {
  position: absolute;
  font-size: .55rem;
  font-style: italic;
  left: 25px;
  bottom: -20px;
  color: var(--color-secondary-light-red);
  font-weight: 600;
  transition: all .2s; }

.container {
  display: flex;
  min-height: 100vh; }

.spacer {
  flex-grow: 1; }

.content {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 600px) {
    .content {
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 480px) {
    .content {
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 380px) {
    .content {
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .content {
      justify-content: space-between; } }
  @media only screen and (max-width: 480px) {
    .content {
      justify-content: space-between; } }
  @media only screen and (max-width: 380px) {
    .content {
      justify-content: space-between; } }
