.container {
    display: flex;
    min-height: 100vh;
}

.spacer {
    flex-grow: 1;
}

.content {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 2.5rem;
    margin-bottom: 2rem;

    @include respond(tablet) {
        padding: 2rem 2rem;
    }

    @include respond(phone) {
        justify-content: space-between;
    }

    //
    // border: 1px solid orange;

    // & > * {
    //     border: 1px solid blue;
    // }
}